# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/.gitignore
.idea/inspectionProfiles/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/nlp-tools.iml
.idea/
target/
*.pyc
